body {
  background-color: #000;
}
.vspaced {
  margin-bottom: 20px;
}
.header {
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer {
  min-height: 50px;
  border-top: 1px #444 solid;
  padding: 40px;
  text-align: right;
}
.full-width {
  width: 100%;
}
